/* src/Home.css */

/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Estilos para la primera sección */
.home-section {
  width: 100%;
  padding: 50px 0;
  background-color: rgb(247, 237, 224);
  display: flex;
  align-items: center;
}

.home-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.home-image {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}

.home-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-text {
  width: 25%;
  padding-left: 20px;
}

.home-small-image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-small-image img {
  width: 150px;
  height: auto;
}

.home-title {
  text-align: center;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  color: #6a4f3b; /* Color marrón */
}

.home-title h4 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.home-title h5 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
}

.treatment-box {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  width: 80%;
  margin: 20px auto;
}

.treatment-box h2 {
  font-size: 2rem;
  margin: 0;
}

/* Estilos para la segunda sección con fondo marrón claro */
.home-section-two {
  width: 100%;
  padding: 50px 0;
  background-color: #eadfd7  /* Fondo marrón claro */
}

.home-section-two-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.home-section-two-image {
  width: 60%;  /* Imagen a la izquierda, más pequeña que en la sección 1 */
}

.home-section-two-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.home-section-two-text {
  width: 35%;  /* El texto ocupa el 35% del ancho */
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centra verticalmente el texto */
  height: 100%;  /* El texto ocupa toda la altura de la sección */
}

.home-section-two-text h2 {
  font-size: 3rem;  /* Texto grande */
  color: #803813;;  /* Color marrón */
  font-family: YAFdJnPX3ZE-0;
    line-height: 1.08928571em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.home-section-two-text p {
  font-size: 1.5rem;  /* Texto más grande */
  color: #803813; /* Color marrón */
  margin-top: 20px;
  line-height: 1.6;
  font-family: YAFdJnPX3ZE-0;
    line-height: 1.08928571em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}


/* Estilos para la nueva sección */
.home-section-three {
  width: 100%;
  padding: 50px 0;
  background-color: #e2d1b3;  /* Fondo marrón claro */
}

.home-section-three-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.home-section-three-image {
  width: 40%;
}

.home-section-three-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.home-section-three-text {
  width: 35%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.home-section-three-text h2 a {
  font-size: 2.5rem;
  color: #6a4f3b; /* Color marrón */
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 20px;
}

.home-section-three-text p {
  font-size: 1.5rem;
  color: #6a4f3b; /* Color marrón */
  line-height: 1.6;
}

/* Imágenes en L (horizontal) */
.home-section-three-images-l {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

.home-section-three-l-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-section-three-l-images img {
  width: 150px;
  height: auto;
}

.home-section-three-l-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.home-section-three-l-text p {
  font-size: 1.2rem;
  color: #6a4f3b; /* Color marrón */
  font-weight: 600;
}
