/* src/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-logo h1 {
  margin: 0;
  font-size: 24px;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #FFD700;
}

/* Estilo para el icono de hamburguesa */
.navbar-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 21px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

/* Responsivo: Cuando el ancho es menor o igual a 768px */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #333;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }
}
